<section class="mb-12 mt-12">
  <header>
    <picture>
      <source srcset="public/photo.jp2" type="image/jp2">
      <img src="public/photo.jpg" class="w-32 h-32 mb-4 rounded md:w-36 md:h-36" width="144" height="144" alt="A photo of Stephen Meriwether" />
    </picture>

    <h1 class="font-bold text-3xl mb-2">Hi 👋, I'm Stephen.</h1>

    <p>This is my online home.</p>
  </header>
</section>

<section class="mb-12">
  <p>
    You've entered a room that doesn't exist. Don't worry, finding your way back is easy, just
    click <a href="index.html">here</a>.
  </p>
</section>

<section class="mb-12">
  <p>
    Thanks for stopping by!
  </p>
</section>
