<header>
  <a href="index.html">Go back home</a>

  <h1 class="mt-4 md:mt-8">404</h1>
  <p class="text-gray-600">
    You landed on a page that doesn't exist. I recently updated my website and removed
    a bunch of old content. But there's new stuff that you should definitely check out!
  </p>
</header>
