<header>
  <a href="index.html">Go back home</a>

  <h1 class="mt-4 md:mt-8">My random thoughts</h1>
  <p class="text-gray-600">
    I occasionally write random things on my blog,
    <a href="https://smeriwether.micro.blog" target="_blank">smeriwether.micro.blog</a>.
    Any time I write something over there, it will also show up here.
  </p>
</header>

<ul>
  <% @blog_posts.each do |blog_post| %>
    <li>
      <a href="<%= blog_post.source_url %>" target="_blank">
        <%= blog_post.title %>
      </a>
    </li>
  <% end %>
</ul>
