<!DOCTYPE html>
<html lang="en">
  <head>
    <title>stephen.fyi - The online home of Stephen Meriwether</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hi 👋, I'm Stephen, welcome to my online home." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="stephen.fyi - The online home of Stephen Meriwether" />
    <meta property="og:description" content="Hi 👋, I'm Stephen, welcome to my online home." />
    <meta property="og:image" content="" />
    <meta property="twitter:title" content="stephen.fyi - The online home of Stephen Meriwether" />
    <meta property="twitter:creator" content="@_smeriwether" />
    <meta property="twitter:description" content="Hi 👋, I'm Stephen, welcome to my online home." />
    <meta property="twitter:image" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="public/apple-touch-icon.jpg" sizes="180x180">
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://reptile.stephen.fyi/script.js" data-site="SEZGMFIP" defer></script>
    <!-- / Fathom -->
  </head>
  <body class="max-w-screen-sm mx-auto bg-white text-gray-800 font-inter px-6 md:px-2">
    <%= @content %>

    <script>
      var today = new Date();
      var weekdays = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

      console.log(`
      Hi 👋. Welcome to the basement of my home. If you're curious how I built this site, I have good news! It's open source! Take
      a look at the site on Github here: https://github.com/smeriwether/stephen.fyi.
      At a high level, it's a static site, with TailwindCSS, served via NGINX on a DigitalOcean droplet.
      Enjoy the rest of your ${weekdays[today.getDay()]}.
      `);
    </script>
  </body>
</html>
