<header class="mb-10 mt-20">
  <a href="writings.html" class="flex flex-col items-center hover:border-none" style="border: 0;">
    <picture>
      <source srcset="public/photo.jp2" type="image/jp2">
      <img src="public/photo.jpg" class="w-12 h-12 rounded mb-2" width="48" height="48" alt="A photo of Stephen Meriwether" />
    </picture>
    <p class="uppercase text-gray-500 font-sm tracking-widest">Stephen Meriwether</p>
  </a>
</header>

<section class="text-center mb-10">
  <span class="text-sm text-gray-500"><%= @post.published_date.strftime("%B %e, %Y") %></span>

  <h1 class="text-4xl md:text-5xl font-bold"><%= @post.title %></h1>
</section>

<section id="post" class="text-lg mb-20">
  <%== @post.html %>
</section>
