<section class="mb-6 mt-12">
  <header>
    <a href="index.html" style="border: 0;">
      <picture>
        <source srcset="public/photo.jp2" type="image/jp2">
        <img src="public/photo.jpg" class="w-32 h-32 mb-4 rounded" width="128" height="128" alt="A photo of Stephen Meriwether" />
      </picture>
    </a>

    <h1 class="font-bold text-3xl mb-2">Hi 👋, I'm Stephen.</h1>

    <p>
      This is where I write about my life and occasionally comment on things I find across the internet.
      Grab the <a href="feed.rss">RSS feed</a>.
    </p>
  </header>
</section>

<section class="mb-12" >
  <ol>
    <% @posts.sort_by { |p| p.published_date }.each do |post| %>
      <li class="mb-3 flex justify-between">
        <a href="<%= post.slug %>.html"><%= post.title %></a>
        <span class="text-sm"><%= post.published_date.strftime("%Y-%m-%d") %></span>
      </li>
    <% end %>
  </ol>
</section>
